In [1]:
import pandas as pd

In [5]:
mta = pd.read_excel('Significant_MTAs.xlsx', sheet_name='Significant MTA')
markers = mta['Marker'].to_list()
markers

['IAB09131',
 'IAB48252',
 'IAB60001',
 'IAB07969',
 'IAB57498',
 'IAB28956',
 'IAB04062',
 'IAB00955',
 'IAB29579',
 'IAB29292',
 'IAB58331',
 'IAB11647',
 'IAB04062',
 'IAB04062',
 'IAB19354',
 'IAB32845',
 'IAB41988',
 'IAB08754',
 'IAB17595',
 'IAB13554']

In [7]:
snp_60k = pd.read_excel('60K_SNP.xlsx', sheet_name='Total_60K_SNP', index_col='Identifier')
snp_60k.head()

,Reference,Position,Reference allele,Description,Type,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
Identifier,,,,,,,,,
IAB15001,chr1A,508800,C,G_gap_SNP_other_4026,G,NaN,64.0,A,KASP-маркеры
IAB30001,chr1A,799201,T,G_gap_SNP_OTHER_13922,G,NaN,4537.0,B,iSelect-90K + Axiom-820K
IAB00001,chr1A,1145442,G,B_BS00000713_51.1_10.1186s12870-017-1167-3_ESM8,B,NaN,3500.0,C,NCBI - GenBank
IAB30002,chr1A,1172042,C,D_Functional_SNP_MODERATE_7501,D,NaN,26149.0,D,Functional
IAB30003,chr1A,1211885,C,D_Functional_SNP_MODERATE_7502,D,NaN,25750.0,G,Gap markers

In [8]:
genotypes = pd.read_excel('Genotypes_filtered_imputed.xlsx', index_col='rs#')
genotypes.head()

,alleles,chrom,pos,strand,assembly#,center,protLSID,assayLSID,panelLSID,QCcode,...,Zhiva,Nikifor,Moskvich,7675h34-34,Xiao_Yan_107,Svarog,06380AR83,Tandem,Laureat,Inea
rs#,,,,,,,,,,,,,,,,,,,,,
IAB30003,C/T,1A,1211885,+,NaN,NaN,NaN,NaN,NaN,NaN,...,C,C,C,C,C,C,C,C,C,C
IAB00012,C/T,1A,3776696,+,NaN,NaN,NaN,NaN,NaN,NaN,...,C,C,C,C,C,C,C,C,C,C
IAB00017,T/C,1A,3847127,+,NaN,NaN,NaN,NaN,NaN,NaN,...,T,T,T,T,T,T,T,T,T,T
IAB15011,G/A,1A,4053566,+,NaN,NaN,NaN,NaN,NaN,NaN,...,G,G,G,G,G,G,G,G,G,G
IAB30030,A/C,1A,7279073,+,NaN,NaN,NaN,NaN,NaN,NaN,...,A,A,C,A,A,A,A,A,C,C

In [21]:
output = pd.DataFrame(columns=['marker', 'ref', 'alt', 'description', 'type'])

In [22]:
for i, marker in enumerate(markers):
    if marker == 'IAB60001':
        output.loc[i] = [marker, 'ref', 'alt', 'description', 'type']
        continue
    ref = snp_60k['Reference allele'][marker]
    alt_variants = genotypes['alleles'][marker].split('/')
    for variant in alt_variants:
        if variant != ref:
            alt = variant
    description = snp_60k['Description'][marker]
    type = snp_60k['Type'][marker]
    output.loc[i] = [marker, ref, alt, description, type]

output

,marker,ref,alt,description,type
0,IAB09131,T,C,B_RAC875_c8642_231.2_10.3389fpls.2017.01797,B
1,IAB48252,T,C,D_Functional_SNP_MODERATE_16598,D
2,IAB60001,ref,alt,description,type
3,IAB07969,G,T,A_Rasheed_wMAS000002_FAM,A
4,IAB57498,C,T,G_gap_SNP_OTHER_26769,G
5,IAB28956,C,T,G_gap_SNP_other_13004,G
6,IAB04062,T,C,A_Rasheed_wMAS000024_FAM,A
7,IAB00955,C,A,B_BobWhite_c15522_625.2_10.1371journal.pone.01...,B
8,IAB29579,C,G,G_gap_SNP_exon_13434,G
9,IAB29292,T,G,G_gap_SNP_exon_13122,G
10,IAB58331,T,C,D_Functional_SNP_MODERATE_21968,D
11,IAB11647,G,T,D_Functional_SNP_HIGH_1546,D
12,IAB04062,T,C,A_Rasheed_wMAS000024_FAM,A
13,IAB04062,T,C,A_Rasheed_wMAS000024_FAM,A
14,IAB19354,G,T,G_gap_SNP_exon_6530,G
15,IAB32845,A,G,D_Functional_SNP_MODERATE_9104,D
16,IAB41988,C,T,G_gap_SNP_EXON_19048,G
17,IAB08754,T,C,G_gap_SNP_exon_2450,G
18,IAB17595,T,G,D_Functional_SNP_MODERATE_1926,D
19,IAB13554,C,T,G_gap_SNP_exon_3512,G

In [23]:
output.to_excel('found_marker_information.xlsx')