In [ ]:
# Preparation of numerical genotypes table got from TASSEL for processing with SimpleM R script
# (for calculation the number of effective markers and avoiding high Bonferroni penalty)
# See: https://doi.org/10.1002/gepi.20430

import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('numerical_genotypes.txt', sep='\t', decimal=',', skiprows=1)
df.set_index(df['<Marker>'], inplace=True)
df.drop(columns='<Marker>', inplace=True)
df.head()

,IAB30003,IAB00012,IAB00017,IAB15011,IAB30030,IAB00031,IAB30038,IAB30042,IAB00041,IAB30061,...,IAB14959,IAB14966,IAB29972,IAB14976,IAB29994,IAB14989,IAB14990,IAB59987,IAB14998,IAB14999
<Marker>,,,,,,,,,,,,,,,,,,,,,
Tanais,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.5,1.0,1.0,0.0,1,1.0
Eremeevna,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1,1.0
Menestrel,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0,0.0
Arsenal,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1,1.0
Fenomen,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0,0.0

In [28]:
array = np.array(df, dtype=int)
array = array * 2
array = array.transpose()

c:\Users\Михаил\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\generic.py:1998: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)

In [29]:
df_out = pd.DataFrame(array)
df_out

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
3,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,2,2,2
4,2,2,2,2,2,2,0,2,2,0,...,2,2,0,2,2,2,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3453,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,2,2,2,2,2
3454,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,0,2,2,2,2,2
3455,0,0,2,0,2,2,0,0,2,0,...,0,0,0,0,0,0,0,2,2,2
3456,2,2,0,2,0,2,2,2,0,2,...,2,0,2,2,0,2,2,0,2,2
3457,2,2,0,2,0,2,2,2,0,0,...,2,2,2,2,0,2,2,2,0,0

In [30]:
df_out.to_csv('genotypes.txt', sep=' ', header=False, index=False)